@font-face
	font-display: swap
	font-family: 'Suisse Intl'
	font-style: normal
	font-weight: 300
	src: local('SuisseIntl Light'), local('SuisseIntl-Light'), font('SuisseIntl-Light', 'woff')  font('SuisseIntl-Light', 'woff2')
	unicode-range: $unicodeRange

@font-face
	font-display: swap
	font-family: 'Suisse Intl'
	font-style: normal
	font-weight: 400
	src: local('SuisseIntl Regular'), local('SuisseIntl-Regular'), font('SuisseIntl', 'woff')  font('SuisseIntl', 'woff2')
	unicode-range: $unicodeRange
